@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  min-height: 100vh;
}

body {
  margin: 0 auto;
}

#root {
  min-height: inherit !important;
}

.page-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em;
}

.error {
  margin: 4em 2em;

  &__title {
    font-family: "Press STart 2P";
  }
}